#interior_wrapper{
	width:968px;
	height:auto;
	background-image:url(/images/interior_bg.png);
	background-repeat:repeat-y;
	margin-right:auto;
	margin-left:auto;
	padding:25px 0 10px 0;
	position:relative;
	color:#333;
}

#errorExplanation{
	color:#cc0000;
}
#errorExplanation ul{
	list-style-position:inside;
}
#errorExplanation ul li{
	padding-left:20px;
	
}

#interior_pad{
	padding:35px 50px 0 50px;
}

#interior_pad p{
	padding-top:10px;
}

#interior_pad td{
	padding:5px 15px 5px 2px;
	border-bottom:1px solid #999;
}


#interior_header_absolute{
	position:absolute;
	background-image:url(/images/category_title_bg.png);
	background-repeat:no-repeat;
	width:346px;
	height:79px;
	color:#fff;
	left:-16px;
	top:13px;
}
#int_header{
	text-align:right;
	padding:20px 60px 0 0;
	font-size:1.6em;
	font-weight:bold;
}

#interior_sub_head{
	width:630px;
	height:37px;
	background-color:#7bbbac;
	margin-left:4px;
	padding-left:330px;
	padding-top:3px;
	color:#fff;
}
#interior_sub_head #sub_green_head{
	width:200px;
	font-size:1.4em;
	padding-top:8px;
	float:left;
}

#interior_sub_head .pagination{
	float:right;
	padding-right:30px;
	padding-top:4px;
	font-size:18px;
	font-weight:bold;
	color:#000;
}
#interior_sub_head #sort_form{
	float:right;
	width:160px;
	padding-right:20px;
	padding-top:4px;
}
#sort_form select{width:100px;}

.pagination a{color:#000;}
.pagination a:hover{color:#000;}
.pagination .current{
	text-decoration:underline;
}

#interior_sub_head p{
	color:#fff;
	font-size:18px;
}

									/* Brands Styles */
#brands_nav_container{
	width:190px;
	height:auto;
	margin-left:4px;
	display:block;
}
#brand_list{
	background-image:url(/images/brand_nav_bg_2.jpg);
	background-repeat:repeat-y;	
	height:auto;
	min-height:300px;
	width:190px;
	padding-top:30px;
}
#brand_list ul{
	list-style-type:none;
}
#brand_list ul li{
	padding:4px 0 4px 40px;
	font-size:13px;
	text-transform:uppercase;
}
#brands_listing_bottom{
	background-image:url(/images/brands_nav_bg_bottom.jpg);
	background-repeat:no-repeat;
	height:70px;
	width:190px;
}
										/* Product listing Styles */
#product_listing_container{
	float:right;
	width:770px;
	margin-right:4px;
	height:auto;
}
#product_listing_container p{
	height:100%;
}
#product_listing{
	width:770px;
}
#product_listing .blue{
	width:770px;
	background-color:#bdddd5;
}
#product_listing .white{
	width:770px;
	background-color:#fff;
}
#spacer{padding-top:20px;}

.product{
	width:180px;
	height:230px;
	font-size:12px;
	padding-top:30px;
	margin-left:50px;
}

.product_image{
	background-image:url(/images/product_photo_frame.png);
	background-repeat:no-repeat;
	width:167px;
	height:132px;
}
.product_image img{
	margin:-1px 0 0 13px;
	border:1px solid #999;
}
.product_info{
	padding-top:20px;
	padding-bottom:30px;
}
.even{
	
}
.odd{
	background-color:#ccc;
}

										/* Product #show styles */
#one_product{
	font-size:12px;
}
#one_product img{
	text-align:left;
}
#one_product #product_main_image{
	float:left;
}
#one_product #product_main_text{
	float:left;
	width:520px;
}

#one_product #product_main_image img{
	border:1px solid #666;
	padding:2px;
}
#product_show_thumb{
	width:335px;
	float:right;
}
#product_show_thumb p{
	float:left;
	width:50px; height:50px;
	padding-right:5px;
	border-bottom:none;
}

										/* Product new/edit styles */

									
										
										/* Staff Styles */
.staff{
	padding:0 0 10px 10px;
	width:650px;
}
#product_listing_container .staff p{padding:10px 0 0 0 ; width:100%;}

.staff img{padding:2px; border:1px solid #777; margin:0 10px 0px 0;}
.staff_name{font-size:1.2em; font-weight:bold;}
.staff_link{font-size:12px;}
.staff_bio{font-size:12px;}

										/* About Styles */
										
#product_listing_container p{
	padding:30px 50px 10px 50px;
}

#about_content ul{
	padding-left:30px;
}
										
										/* Contact Form Styles */
#contact_form{
		padding:35px 50px 0 50px;
}

										/* Visitor Styles */
#visitor_listing{
	float:right;
	width:770px;
	margin-right:4px;
	height:auto;
	padding-top:30px;
}

.visitor{
	float:left;
	text-align:center;
	width:185px;
	height:200px;
	margin:0 2px;
	padding:0;
}
.visitor_image_1 img, .visitor_image_2 img, .visitor_image_3 img{width:150px; height:114px;}
.visitor_image_1{width:185px; height:146px; background-image:url(/images/visitor_frame_1.png); background-repeat:no-repeat; padding-top:14px;}
.visitor_image_2{width:185px; height:146px; background-image:url(/images/visitor_frame_2.png); background-repeat:no-repeat; padding-top:14px;}

.visitor_image_3{width:185px; height:146px; background-image:url(/images/visitor_frame_3.png); background-repeat:no-repeat; padding-top:14px;}



										
#contact_form p{
	font-size:12px;
	padding:5px;
}
										/* Interior Styles */
#interior_right{
	float:right;
	width:400px;
	padding-top:30px;
	font-size:12px;
}
										
										
										/* Interior Footer Styles */
#interior_footer{
	width:968px;
	height:64px;
	background-image:url(/images/interior_footer_bg.png);
	background-repeat:no-repeat;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:15px;
	clear:both;
}
#interior_footer p{
	float:right;
	padding-right:35px;
	padding-top:40px;
	font-size:11px;
}


										/* Interior Admin Styles */
#interior_form{
	margin-top:65px;
}
#interior_form p{
	padding-bottom:10px;
}

#pages_edit{
	border:1px solid #999;
	padding:5px;
	padding-left:20px;
	width:180px;
}
#other_edit{
	margin-top:15px;
}
#admin_list{
	list-style-type:none;
}
#admin_list li{
	padding:3px 0 3px 3px;
	margin:3px 0 3px 0;
	border:1px solid #999;
	background:#ccc;
	width:200px;
}
										/* Links Style */
#links_table td img{
	padding:2px;
	border:1px solid #999;
	margin-right:10px;
}
#links_table td{
	border:none;
}
#links_table tr{
	border-bottom:1px solid #999;
}