<div id="interior_footer"><p id="footer">&copy; EMERALD CITY GUITARS | <% if logged_in? %><%= link_to "Log Out", logout_path %> | <%= link_to "Admin", admin_path %>      
      
      <% else %><%= link_to "Login", login_path %> | Site by <%= link_to "Ravenna Interactive", "http://ravennainteractive.com" %> <% end %><br>
      83 S. Washington St. Pioneer Square, Seattle, WA 98104<br>Mon - Sat 10am - 6pm  </p></div>