<!--<script type="text/javascript">
<% if Banner.find(:first).switch == true %>
    $(document).ready(function(){
        tb_show(null,"/find_banner?height=400&width=400", "");
    });
<% end %>
</script>-->

<div id="home_guts">
    <div id="recent_shop"> 
        <div id="who_shops_image">
            <% for visitor in @visitors -%>
                <%= image_tag visitor.photo.url(:original) %>
            <% end %>
            <div id="who_shops_overlay">
                <p>Who Shops at Emerald City Guitars?</p>
            </div>
        </div>
    </div><!-- Image 258px x 198px -->
    
    <div id="vintage_spotlight"></div>
    <div id="new_spotlight"></div>
    
    <p id="clear">&nbsp;</p>
    <p id="footer">&copy; EMERALD CITY GUITARS | <%= link_to 'Privacy Policy', privacy_path %><br> <%= link_to "Site by Ravenna Interactive", "http://ravennainteractive.com" %>  </p>
</div>

