<%= render :partial => 'shared/interior_hero' %>
<div id="interior_wrapper">
    <div id="interior_header_absolute">
        <h6 id="int_header">Category Name</h6>
    </div>
    
    <div id="cb_header_bg"><h5 id="sub_green_head">Brands</h5></div>
    

  

</div>
</div>
<%= render :partial => 'shared/interior_footer' %>
    